@font-face {
        font-family: '28 Days Later';
        src: url(../fonts/28-days-later/28\ Days\ Later.ttf);
}
@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/SF-Pro-Display-Regular.woff2) format("woff2"),
       url(../fonts/SF-Pro-Display-Regular.woff) format("woff"),
       url(../fonts/SF-Pro-Display-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
       url("../fonts/SF-Pro-Display-Bold.woff") format("woff"),
       url("../fonts/SF-Pro-Display-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
        font-family: 'Helvetica Oblique';
        src: url(../fonts/helvetica-255-webfont/Helvetica-Oblique.woff);
}
body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url("Images/background-img-edited-3.png") repeat center center fixed;
}

.header{
    position: absolute;
    width: 100%;
    height: 200px;
    background:#462A11 ;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 80% 42%, 19% 42%, 0 60%);
    box-shadow: 10px 20px #ebc9ad ;
}
.rectangle{
    position: absolute;
    top:5.5%;
    left: 49.5%;
    transform: translate(-50%,-50%);
    width: 425px;
    height: 150px;
    background: #462A11 ;
    border-radius: 17px;
    
}
.logo-pc{
    position: relative;
    height: 152px;
    width: 152px;
    background-image: url(../Images/KMS\ Bakery\ LOGO.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    left:44.5%;
    top:25px;
    zoom:88%;
}

.desktop-navbar{
    position: absolute;
    background-color: #462A11;
    width: 49%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 2px 50px;
    left: 22%;
    margin-top:90px;
    font-size: 17px;
}
.desktop-navbar:before {
        content: ' ';
        display: block;
        background: #462A11;
        width: 20px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -10px;
        transform: skew(10deg);
        border-radius: 8px;
        z-index: -1;
      }
.desktop-navbar:after {
        content: ' ';
        display: block;
        background: #462A11;
        width: 20px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -10px;
        transform: skew(-10deg);
        border-radius: 8px;
        z-index: -1;
      }
button{
    background: none;
	  color: inherit;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
    font-family: '28 Days Later';
    display: flex;
    text-decoration: none;
    color: #E2C8B0;
}

/* Dropdown Menu */
  .dropdown {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.dropdown-content {
  position: absolute;
  top: 185%;
  left: 0;
  background: rgb(251, 242, 232);
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  pointer-events: none;
  border-radius: 0.5rem;
  font-family: '28 Days Later', sans-serif;
}

.dropdown-content a {
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #ffc99a;
}

.dropdown.active .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.head-office{
    position: relative;
    font-family: "28 Days Later";
    font-size:5em;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 100px;
}
.head{
    margin-right: 1.9rem;
}

.card1{
  position: relative;
  width: 87.9%;
  height:325px;
  padding: 20px;
  background: #EFE2B9;
  transition: transform .3s;
  border-radius: 18px ;
  margin-left: 3.4%;
  margin-bottom: 8%;
}


.card1__title {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-size: 55px;
  font-weight: 700;
  color: #000;
  margin-left:15px ;
  margin-top: 29px;
  display: inline-block;
  position: relative;
}


.card1__content {
  font-family: 'Abhaya Libre', sans-serif;
  font-style: normal;
  font-weight: 580;
  font-size: 2em;
  color: #000;
  padding-left: 16px;
  margin-top: 22px;
  margin-bottom: 25px;
}

.card1:hover {
  -ms-transform: scale(1.03); 
  -webkit-transform: scale(1.03);
  transform: scale(1.03); 
}
.map-contact{
    display: flex;
    gap:13px;
}
.map{
    position: relative;
    width: 140px;
    height: 39px;
    background:#462A11 ;
    border-radius: 10px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
    color: #ffffff;
    cursor: pointer;
}
.map-icon{
  margin-right:5px ;
}
.map>p{
  padding-right:10px;
}
.contact{
    position: relative;
    width: 140px;
    height: 39px;
    background:#462A11 ;
    border-radius: 10px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
    color: #ffffff;
    cursor: pointer;
    margin-left:10px;
    
}
.call-icon{
  padding-right: 12px;
}
.other-branches{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 116px;
    font-size: 5em;
    font-family: '28 Days Later';
    flex-direction: column;
}
.branches{
    border-top-style:solid;
}
.other-branches .branches {
    display: block;
}
.annur{
  margin-bottom: 200px;
}
/*-----------------This is the foooter style for all the pages------------------*/
.footer {
  position: relative; 
  background: 
    url(../Images/footer-bg-edited.png) center/cover no-repeat,
    #211409;
  background-blend-mode: overlay;
  color: #fff;
  height: 30em;
  padding: 40px 20px;
  font-family: 'SF Pro Display', sans-serif;
  margin-top: 13%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-left: 20%;
  margin-top: 3.5%;
}

.footer-logo {
  background: url(../Images/Logo-img.JPG) no-repeat center;
  background-size: cover;   
  width: 175px;
  height: 175px;
  position: absolute;   
  top: -115px;          
  left: 40px;          
  border: 5px solid #fff;
  border-radius: 50%;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex: 1;
}

.footer-column {
  min-width: 180px;
}


.footer-column h3 {
  font-size: 30px;
  font-family: '28 Days Later', sans-serif ;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f3e0d6; 
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: 'Helvetica Oblique', sans-serif;

}
.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.footer-column ul li a:hover {
  color: #f0c674;
}

/* ========== PC Screen > 1080px ========== */
@media (min-width: 1081px) {
  .logo{
    display: none;
  }
  .navbar-mb, .logo-mb, logo-img {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .close-img{
    display: none;
  }
  .nav-menu{
    display: none;
  }
}

/* ========== Tablet Screens (768px – 1024px) ========== */
@media (min-width: 768px) and (max-width: 1080px) {
  .header {
    height: 10em;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 80% 47%, 19% 47%, 0 65%);
  }
  .navbar{
    margin-top: 2em;
  }
  
 .head-office{
    font-size: 4em;
    margin-top:230px ;
    margin-bottom: 80px;
 }
  a{
    font-family: '28 Days Later';
    display: flex;
    text-decoration: none;
    color: #E2C8B0;
  }
  .map , .contact{
    font-size: 1.1rem;
  }
  .foot {
    font-size: 24px;
  }
  .footer {
    height: 500px;
    padding: 30px 20px;
  }
   .logo{
    display: none;
  }
  .navbar-mb, .logo-mb, .logo-img {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .close-img{
    display: none;
  }
  .nav-menu{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1000px){
  .logo-pc{
    position: relative;
    height: 152px;
    width: 152px;
    left:42.5%;
  }
  .rectangle{
    left: 49.5%;
    width: 400px;
    height: 140px;
  }
}

/* ========== Mobile Screens (767px) ========== */
@media (max-width: 767px) {
    .navbar-mb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 56px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 2px rgba(33, 33, 33, 0.015);
  }
  .desktop-menu {
    display: none;
  }
  .mob-menu-container,
  .mob-menu-wrap {
    display: none;
  }

  .displayon {
    display: block;
  }
  
  .mobile-menu {
    display: flex;
    top: 0;
    overflow: hidden;
    width: 110vm;
    flex-direction: row;
    padding: 16px 26px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.075);
  }

  .mobile-menu button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-transform: uppercase;
  }

  .mob-menu-container {
    background: rgba(170, 41, 41, 0);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .mob-menu-container .close-img {
    width: 22px;
    position: fixed;
    z-index: 3;
    top: 22px;
    left: 28px;
    cursor: pointer;
  }

  .header,
  .rectangle,
  .logo-pc {
    display: none;
  }

  .mob-menu-wrap {
    width: 80%;
    background: rgba(157, 150, 150, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: -2px 0 20px 10px rgba(0, 0, 0, 0.045);
    z-index: 2;
    height: 100%;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .mob-menu-wrap.displayon {
    display: block;
  }
  .mob-menu-wrap.active {
    transform: translateX(0);
  }
  .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    width: 100%;
  }

  .menu-items {
    margin-top: 40px;
  }

  .menu-items ul {
    padding: 0;
    text-align: center;
  }

  .menu-items ul li {
    list-style-type: none;
    margin: 70px;
  }

  .menu-items ul li a {
    text-decoration: none;
    color: #000000;
  }
.dropdown-mb {
  position: relative;
  color: #000000;
}

.dropdown-mb-content {
  display: none;
  color: #000000;
  flex-direction: column;
  margin-top: 15px;
}

.dropdown-mb-content a {
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}
.dropdown-mb.active .dropdown-mb-content {
  display: flex;
}

.dropdown-mb-content {
  max-height: 0;
  /* overflow: hidden; */
  transition: max-height 0.5s ease;
}

.dropdown-mb.active .dropdown-mb-content {
  display: flex;
  max-height: 400px;
}

.mob-menu-wrap::-webkit-scrollbar {
  width: 6px;
}
.mob-menu-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

  .desktop-navbar {
    display: none;
  }

  .head-office{
    margin-top:90px;
    font-size: 3.4em;
  }
  .others, .branches{
    font-size:0.8em;
  }
  .punjai1, .punjai2, .annur{
    height:fit-content;
  }
  a{
    font-family: '28 Days Later';
    display: flex;
    text-decoration: none;
    color: #E2C8B0;
  }
  .map , .contact{
    font-size: 1.05rem;
  }
  .foot {
    font-size: 24px;
  }
  .footer {
    height: 500px;
    padding: 30px 20px;
  }
}
/* for medium screens */
@media (min-width:550px) and (max-width:610px){
  .mobile-menu{
    height: 5.5em;
  }
  .logo-mb{
    width:80px;
    height:80px;
  }
  .card1{
    height: fit-content;
  }
  .menu-items ul li a{
    font-size: 1em;
  }
  .dropbtn-mb{
    font-size: 1em;
  }
  .footer {
    margin-top:40%;
    width: 100vm;
    height: max-content;
  }
  .footer-logo {
  width: 150px;;  
  height: 150px;
  position: absolute;   
  top: -115px;          
  left: 30px;          
  border: 5px solid #fff;
  border-radius: 50%;
}
}

@media (max-width: 549px){
  .mobile-menu{
    height: 5em;
  }
  .mobile-menu svg{
    height: 2.5em;
    width: 4em;
  }
  .logo-mb{
    width:75px;
    height:75px;
  }
  .mobile-menu{
    width: 90%;
  }
  .menu-items ul li a{
    font-size: 0.9em;
  }
  .dropbtn-mb{
    font-size: 0.9em;
  }
  .head-office{
    font-size: 2.5em;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .card1{
    height: fit-content;
  }
  .card1__title{
    font-size: 2.2em;
  }
  .card1__content{
    font-size:1.3em;
  }
  .other{
    font-size:0.7em;
  }
  .branches{
    font-size:0.6em;
  }
  
  .footer {
    margin-top:40%;
    width: 93%;
    height: 120%;
  }
  .footer-logo {
  width: 100px;;  
  height: 100px;
  position: absolute;   
  top: -50px;          
  left: 20px;          
  border: 5px solid #fff;
  border-radius: 50%;
}
}

@media(max-width: 350px){
  .card1__title{
    font-size: 2em;
  }
  .card1__content{
    font-size:1em;
  }
  .map , .contact{
    font-size: 0.9rem;
  }
}